@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    width: 100%;
    max-height: 60px;
    /*debug*/
    background-color: #0084fd;
}

header .header-container {
    width: 90%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header img {
    width: 50px;
    height: 25px;
}

.menu-desktop {
    display: none;
}

/*main*/

#functions {
    width: 100%;
    margin: 0 auto;

}

/* .w-70.mx-10 {
    margin-top: 20px; */

.w-70 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.col-big {
    width: 100%;
    /*debug*/
    background-color: coral
}

.col-big.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 30px;
}

/*content col-big*/
.demo-box {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.demo-img {
    width: 200px;
    margin-top: 30px;
    display: block;
}

.col-33 {
    width: 100%;
    border-radius: 30px;
}

/*content col-33*/

.col-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 30px 20px 30px 20px;
    border-radius: 30px;
}

/*SECTION PLANNING*/

.col-50 {
    width: 100%;

}

.planning-img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.planning-img2 {
    width: 250px
}

/*SECTION TESTIMONIALS*/
.partners-desktop {
    display: none;
}

.witness-img {
    border-radius: 50%;
    width: 160px;
    height: 155px;
}

.about-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.testimonial-box {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9792e4;
}

/* SECTION BENEFITS*/
.testimonial-box.mobile {
    display: block;
    text-align: initial;
}

.text-center {
    text-align: center;
}

/*SECTION ABOUT US*/

.about-us-desktop {
    display: none;
}

.col-box.about {
    text-align: initial;
    display: block;
}

/*SECTION GET STARTED*/
.col-100-started {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /*debug*/
    background-color: #9792e4;
}

.big-title {
    font-size: 55px;
    font-weight: 900;
}


/****************** MARGIN PADDING ****************/
/****************** MARGIN PADDING ****************/
.w-mx-90 {
    width: 90%;
}

.w-mx-85 {
    width: 85%;
}

.w-mx-100 {
    width: 100%;
}

.mx-20 {
    margin-bottom: 20px;
}

.mx-40 {
    margin-bottom: 40px;
}

.mxl-25 {
    margin-left: 25px;
}

.mxl-15 {
    margin-left: 15px;
}

.mxup-30 {
    margin-top: 30px;
}

.allpx-20 {
    padding: 20px 20px 20px 20px;
}

.allpx-35 {
    padding: 30px 25px 40px 25px;
}

.tbpx {
    padding-top: 50px;
    padding-bottom: 70px;
}

/****************** BG COLOR ****************/
/****************** BG COLOR ****************/
.bgblue {
    background-color: #0084fd;
}

.bgskyblue {
    background-color: #b5ddff;
}

.bgviolet {
    background-color: #9792e4;
}

.bgwhite {
    background-color: white;
}

.bggray {
    background-color: #333333;
}

.bgbeige {
    background-color: beige;
}

/****************** FONT COLOR ****************/
/****************** FONT COLOR ****************/
.blue {
    color: #0084fd;
}

.gray {
    color: #5a6e7f;
}

.white {
    color: white;
}

.black {
    color: black;
}

.violet {
    color: #9792e4;
}

.whitesmoke {
    color: #d3d2f3;
}

.yellow {
    color: #fdc15f;
}

/****************** ELEMENT PROPERTIES ****************/
/****************** ELEMENT PROPERTIES ****************/
.fz-20 {
    font-size: 20px;
}

.fz-40 {
    font-size: 40px;
}

.letter-spacing {
    letter-spacing: .2rem;
}

.subtitle {
    font-size: 25px;
    font-weight: 900;
}

.title {
    font-size: 30px;
    font-weight: 900;
}

.paragraph {
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    width: 90%;
    margin: 25px auto 25px;
}

.paragraph-no-bold {
    font-size: 20px;
    line-height: 40px;
    width: 90%;
    margin: 25px auto 25px;
}

.paragraph2-no-bold {
    font-size: 20px;
    line-height: 40px;

}

.italic {
    font-style: italic;
}

.fa-arrow-down {
    padding: 20px 20px;
    border-radius: 50px;
}

/****************** BUTTON PROPERTIES ****************/
/****************** BUTTON PROPERTIES ****************/
.big-button {
    padding: 10px 70px;
    border-radius: 20px;
    font-weight: bold;
    letter-spacing: .2rem;
}

.small-button {
    padding: 10px 35px;
    border-radius: 20px;
    font-weight: bold;
    letter-spacing: .2rem;
}

.find-button {
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}

.get-button {
    padding: 25px 85px;
    border-radius: 50px;
    font-weight: bold;
    letter-spacing: .2rem;
}

/******************RESPONSIVE TABLET ****************/
/******************RESPONSIVE TABLET ****************/
@media all and (min-width: 768px) {

    /*SECTION DEMO TABLET*/
    header .header-container {
        width: 80%;
    }


    .menu-mobile {
        display: block;
    }

    /*SECTION DEMO*/
    .col-big {
        width: calc((100% / 3 * 2) - 5px);
    }

    .col-big.display {
        display: flex;
        /* flex-direction: row; */
    }

    .col-33 {
        width: calc((100% / 3) - 10px);
    }

    /*SECTION TESTIMONIALS*/
    #partners {
        display: none;
    }

    .partners-desktop {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .col-100 {
        width: 100%;
    }

    .witness-box {
        background-color: #9792e4;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 30px 25px 40px 25px;
        ;
    }

    .text-box {
        width: 100%;
        margin: 0 auto;
        text-align: initial;
    }

    /*SECTION BENEFITS*/

    section.w-70.mx-10.tablet {
        display: flex;
    }

    .col-33.tablet {
        width: 100%;
    }

    .col-box.tablet {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .testimonial-box.tablet {
        width: calc(100% / 2 - 20px);
    }

    /*SECTION ABOUT US*/
    #about-us {
        display: none;
    }

    .about-us-desktop {
        display: flex;
    }

    .w-70.lrpx-35.w-mx-100 {
        padding-right: 35px;
        padding-left: 35px;

    }

    .col-50.about {
        width: 66%;
    }

    .col-50.about.content {
        width: 30%;

    }

    /*SECTION GET*/
    .col-100-started.mx200 {
        margin: 0 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
}

/******************RESPONSIVE DESKTOP ****************/
/******************RESPONSIVE DESKTOP ****************/
@media all and (min-width: 1025px) {

    header .header-container {
        width: 80%;
    }

    .w-70 {
        width: 85%
    }

    .menu-mobile {
        display: none;
    }

    .menu-desktop {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .menu-button {
        padding: 10px 15px;
        border-radius: 20px;
    }

    .col-big {
        width: calc((100% / 3 * 2) - 5px);
    }

    .col-big.display {
        display: flex;
        flex-direction: row;
    }

    .demo-img {
        width: 240px;
        margin-top: 152px;
        display: block;
        margin-right: 20px;
    }

    .col-33 {
        width: calc((100% / 3) - 10px);
    }

    /*SECTION PLANNING*/
    #planning {
        display: flex;
        width: 70%;
        margin: 0 auto;
    }

    .col-50 {
        width: 100%
    }

    /*SECTION TESTIMONIALS*/
    #partners {
        display: none;
    }

    .partners-desktop {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .col-100 {
        width: 100%;
    }

    .witness-box {
        background-color: #9792e4;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 30px 25px 40px 25px;
    }

    .partners-desktop.subtitle {
        margin-left: 24px;
    }

    .text-box {
        width: 100%;
        margin: 0 auto;
        text-align: initial;
    }

    /*SECTION BENEFITS*/

    #benefits {
        display: flex;
    }

    .w-70.mx-10.desktop {
        display: block;
    }

    .col-33.desktop {
        width: 100%;
    }

    .col-box.desktop {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px 0;
    }

    .testimonial-box.desktop {
        width: calc((100% / 3) - 10px);
        display: block;
        text-align: initial;
    }

    /*SECTION ABOUT US*/

    #about-us {
        display: none;
    }

    .about-us-desktop {
        display: flex;
    }

    .w-70.lrpx-35 {
        padding-right: 35px;
        padding-left: 35px;
    }

    .col-50.about {
        width: 66%;
    }

    .col-50.about.content {
        width: 30%;

    }

    /*SECTION GET*/
    .col-100-started.mx200 {
        margin: 0 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
}